body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #a2a2a2;
    line-height: 1.7;
    vertical-align: baseline;
}

a {
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}

a:hover {
    border-bottom-color: transparent;
}

.imagem-link {
    border: 0;
}

img {
    width: 100%;
}

p {
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

ul, ol {
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}

li {
    padding-left: .5em;
}

input, label, textarea, select {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
    color: #a2a2a2;
}

textarea {
    height: 10em;
}

input, textarea, select {
    background: #f7f7f7;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
}

input:focus, textarea:focus {
    border: 2px solid #49bf9d;
    outline: none;
}

input[type='text'], input[type='email'], textarea {
    color: inherit;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(./../images/overlay.png), url(./../images/bg.jpg);
    background-position: left top;
    background-attachment: fixed;
    background-size: auto, cover;
    text-align: right;
}

.main-content section:first-child {
    border-top: none;
    margin-top: 0;
}

.main-content-section {
    border-top: 2px solid#efefef;
    margin-top: 4em;
}

.main-header-title {
    font-size: 22px;
    line-height: 1.5;
    color: white;
    font-weight: normal;
    color: rgba(255, 255, 255, .5);
}

.main-header-title strong {
    color: white;
    font-weight: normal;
}

.main-header-link {
    color: inherit;
}

.main-header-link:hover {
    color: #49bf9d;
}

.main-header img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    box-sizing: border-box;
    padding: 100px 54px 72px;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    text-align: right;
    box-sizing: border-box;
    vertical-align: baseline;
    overflow: auto;
}

.main-footer a {
    color: rgba(255, 255, 255, 0.4);
}

.main-footer a:hover {
    color: #49bf9d;
}

.main-footer .ul-icons a {
    border-bottom: none;
    font-size: .75em;
}

.ul-icons {
    list-style-type: none;
    padding-left: 0;
}

.ul-icons li {
    display: inline-block;
    color: #49bf9d;
    font-size: 1.5em;
}

.copyright {
    list-style-type: none;
}

.copyright li {
    display: inline-block;
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    padding: 0 0.75em;
    line-height: 1;
    font-size: .8em;
}

.button-default {
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.button-default:hover {
    background-color: #5ddeb9;
    border-color: transparent;
}

.button-default-stroke {
    background-color: white;
    border-color: #efefef;
    color: inherit;
}

.button-default-stroke:hover {
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.button-default-small {
    font-size: .65em;
}

.button-default-big {
    font-size: 1em;
}

.button-default-full {
    display: block;
    text-align: center;
}

/* grid */

.row {
    overflow: hidden;
}

.col-2 {
    width: 48.5%;
    float: left;
}

.col-2:first-child {
    margin-right: 1.5%;
}

.col-2:last-child {
    margin-left: 1.5%;
}

.col-2-3 {
    width: 66%;
    float: left;
}

.col-1-3 {
    width: 32%;
    float: left;
}

.col-1-3:nth-child(3n -2) {
    margin-right: 2%;
}

.col-1-3:nth-child(3n) {
    margin-left: 2%;
}

.col-2-3+.col-1-3, .col-1-3.col-2-3 {
    margin-left: 2%;
}

.fa-ul li:first-child {
    margin-top: 0;
}

.fa-ul li {
    margin-top: 1.5em;
}

@media screen and (max-width: 600px) {
    .main-header {
        width: 100%;
        height: 40%;
        top: auto;
        display: block;
        position: relative;
        padding: 50px 54px 72px;
        background-position: top left center center;
        background-size: auto, cover;
        background-attachment: scroll;
        text-align: center;
    }
    .main-header img {
        width: 30%;
    }
    .main-header-title {
        font-size: 1.35em;
    }
    .main-content {
        width: 100%;
        margin: 0;
        height: 60%;
        padding: 2.25em 1.2em 1.25em 1.5em;
        box-sizing: border-box;
        overflow: hidden;
    }
    .main-footer {
        left: auto;
        text-align: center;
        width: 100%;
        position: relative;
        bottom: auto;
        padding: 2.25em 1.5em;
        background-attachment: scroll;
        background-color: #1f1815;
        background-image: url(./../images/overlay.png), url(./../images/bg.jpg);
        background-position: top left, bottom center;
        background-repeat: repeat, no-repeat;
        background-size: auto, cover;
    }
    [class*='col-'] {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .main-header {
        top: auto;
        width: 100%;
        height: 40%;
        display: block;
        text-align: center;
        position: relative;
        padding: 50px 54px 72px;
        background-position: top left center center;
        background-size: auto, cover;
        background-attachment: scroll;
    }
    .main-content {
        width: 100%;
        margin: 0;
        height: 60%;
        padding: 2.25em 1.2em 1.25em 1.5em;
        box-sizing: border-box;
        overflow: hidden;
    }
    .main-footer {
        width: 100%;
        text-align: center;
        position: relative;
        left: auto;
        bottom: auto;
        padding: 2.25em 1.5em;
        background-attachment: scroll;
        background-color: #1f1815;
        background-image: url(./../images/overlay.png), url(./../images/bg.jpg);
        background-position: top left, bottom center;
        background-repeat: repeat, no-repeat;
        background-size: auto, cover;
    }
    [class*='col-'] {
        width: 100%;
        
    }
    .col-2:last-child{
        margin-left: 0;
    }
}