body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #a2a2a2;
    line-height: 1.7;
    vertical-align: baseline;
}

a {
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}

a:hover {
    border-bottom: transparent;
}

.imagem-link {
    border: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(./../images/overlay.png), url(./../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    box-sizing: border-box;
    padding: 100px 54px 72px;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    text-align: right;
    box-sizing: border-box;
    vertical-align: baseline;
}